*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo img {
  width: 150px;
  height: auto;
  display: block;
}

.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ccc;
}

.nav a.sale {
  color: #c34a4a;
  font-weight: bold;
}

/* ICONOS */
.icons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.icons a {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #c34a4a;
}

/* CARRITO CON CONTADOR */
.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -7px;
  right: -10px;
  background-color: #c34a4a;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
}